body {
    background-color: #323232;
    color: #fff;
    font-family: Sans-serif;
    margin: 0;
}

.ahay-section {
    padding-top: 3em;
    padding-bottom: 3em;
}

.background-2 {
    background-color: rgb(20, 20, 20);
}

.background-3 {
    background-color: rgb(170, 170, 170);
}

.centered-img {
    display: block;
    margin: 0 auto;
}

.img-row {
    text-align: center;
    margin: 0 auto 2em auto;
}

.agile-6-tech.technology-row img {
    width: 150px;
}

h3 a {
    text-decoration: underline;
    color: #fff;
}

h3 a:hover {
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

/* Hero */

.hero {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #000;
}

.hero .hero-div {
    position: relative;
    top: 30%;
}

.hero h1 {
    color: #fff;
    font-size: 2.25em;
}

.hero button {
    color: #fff;
    font-size: 2.25em;
    border: 1px solid white;
    padding: .25em .75em;
    background: none;
    cursor: pointer;
    border-radius: 3px;
}

.hero button:focus {
    outline: none;
}

.hero button:hover {
    color: #5e5e5e;
    background-color: #fff;
}

.hero button:active {
    color: #fff;
    background-color: #5e5e5e;
}

/* TCP */
.node, circle {
  cursor: pointer;
}


.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}


.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

/* Bootstrap nav */
.navbar-fixed-top.opaque {
    color: #fff;
    background-color: rgba(0,0,0,.75);
    transition: background-color 2s ease 0s;
}

/* Bootstrap accordion */
.panel-heading {
    cursor: pointer
}

/*Code Samples */
.codesamples {

}

/*Projects */
.agile6-img {
    background-image: url("../images/projects/agile6_640.gif");
    width: 97%;
    height: 316px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.meglio-img {
    background-image: url("../images/projects/meglio_640.gif");
    width: 97%;
    height: 316px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.meglio-business-img {
    background-image: url("../images/projects/meglio_business_320.gif");
    width: 97%;
    height: 316px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
}

.a2-img {
    background-image: url("../images/projects/a2_640.gif");
    width: 97%;
    height: 316px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.i-heart-frameworks-img {
    background-image: url("../images/projects/i_heart_frameworks_640.gif");
    width: 97%;
    height: 316px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.acacia-img {
    background-image: url("../images/projects/acaciaexecutiveservices_640.gif");
    width: 97%;
    height: 316px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

pre {
    padding: 0;
}

.project-seperator {
    margin-top: 35px;
}

@media only screen and (max-width: 575px) {
    .technologies-circle-pack {
        display: none;
    }    
}